.cardContainerCovered {
  width: 6rem;
  height: 7rem;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardContainerUncovered {
  width: 6rem;
  height: 7rem;
  background-color: lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent {
  width: 5rem;
}
