.title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
